.bg_grey{
  height: 600px;
  background-color: #BBBBBB;
  border-color: solid 1px #808080;
  border-radius: 10px;
  padding: 20px;
}

.padding_message{
  padding: 10px;
}

.bg_channels{
  height: 600px;
  background-color: #808080;
  border-color: solid 1px #BBBBBB;
  border-radius: 10px;
  padding: 20px;
}

.selected{
  // font-weight: bold;
}

